@media (max-width: 700px) {
    .burger-btn {
        display: block;
        background-color: transparent;
        border: none;
        font-size: 24px;
        cursor: pointer;
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        border-radius: 8px;
        transition: background-color 0.3s ease;
    }

    .burger-btn:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }

    /* Sidebar sebagai drawer kiri */
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 250px;
        background-color: white;
        transform: translateX(-100%); /* default: sembunyi */
        transition: transform 0.3s ease;
        z-index: 2000;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    }

    /* Tampilkan sidebar jika class show aktif */
    .sidebar.show {
        transform: translateX(0) !important;
    }

    /* Kontainer ubah jadi kolom */
    .sidebar-container {
        flex-direction: column;
    }

    /* Sembunyikan sidebar */
    .sidebar-container.sidebar-hidden .sidebar {
        transform: translateX(-100%);
    }

    .sidebar-container.sidebar-hidden .main {
        margin-left: 0;
    }

    .page-header {
        padding: 2px 20px;
        height: 60px;
        font-size: 20px;
    }

    .burger-btn {
        display: flex;
    }

    .main {
        padding: 1rem;
    }

    .main-main {
        padding-top: 70px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .cards {
        padding-left: 0;
        padding-right: 0;
        flex-direction: column;
    }

    .close-btn {
        display: block;
        background: none;
        border: none;
        font-size: 24px;
        margin-left: auto;
        cursor: pointer;
    }
}

/* KELAS RESPONSIVE */
@media (max-width: 700px) {
    .table-wrapper table {
        min-width: 600px; /* atau lebih besar sesuai kebutuhan */
    }
}
